.navbar{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:20px;
    left: -100%;
    transition: 850ms;
    border-right: 1px solid #D3D3D3;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #317ABB;
    font-size: 30px;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #1a83ff;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.span{
    margin-left: 16px;
}