.sign-up-img{
    min-height: 100vh;
    height: 100% !important;
    max-height: 100vh;
    width: 100% !important;
}

.sign-up-field{
    width: 80%;
    margin-left: 10px;
}

.sign-up-field-sm{
    width: 80%;
}

.user-info{
    overflow: hidden;
}
